@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #090b30;

}

@layer utilities {
    .clip-polygon {
        clip-path: polygon(0 0, 55% 0, 41% 100%, 0% 100%);
    }
  }

  
@layer components {
    
    .app-banner {
      @apply w-screen m-auto relative left-[calc(-50vw_+_50%)];
    }
    .app-container {
      @apply m-auto relative px-4 lg:max-w-7xl;
    }
    .app-small {
      @apply text-[10px] xs:text-xs font-dmsans font-normal text-app-text;
    }
    .app-span {
      @apply text-sm  sm:text-base font-dmsans text-app-gray-1 font-normal;
    }
    .app-p {
      @apply text-base sm:text-lg font-dmsans leading-6 font-normal text-app-text;
    }
    .app-h1 {
      @apply text-5xl sm:text-[64px] font-bold font-quicksand leading-[52px] sm:leading-[70.08px] text-app-text;
    }
    .app-h2 {
      @apply text-[32px] sm:text-[40px] font-bold font-quicksand text-app-text;
    }
    .app-h3 {
      @apply text-3xl sm:text-4xl font-bold font-quicksand text-app-text;
    }
    .app-h4 {
      @apply text-2xl font-bold font-quicksand text-app-text;
    }
    .app-h5 {
      @apply text-base font-bold font-quicksand text-app-text;
    }
    .app-input {
      @apply outline-app-primary border border-app-gray-2 rounded-xl p-[10px] invalid:border-red-300;
    }
  }


  .border-img{
    border-radius: 52% 48% 18% 82% / 33% 38% 62% 67% ;
  }

  .border-card{
    border-radius: 44% 56% 49% 51% / 52% 54% 46% 48%  ;
  }

  .bg-transparent-2{
    --tw-bg-opacity: 1;
    background-color: rgba(0, 0, 0, 0.397);
  }